/* This will crop my image and make it a circle. It is also an example of classes with CSS I have inlcuded a display: block code which I have learned this is how to properly center an image on it's own line with CSS*/
.image-circle{
  border-radius: 50%;
  height: 300px;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

/* This is setting the background color of just the body part of my site */
body {
  background-color: #97BC62FF;
   margin-bottom: 100px;
}

/* I wanted to implement a black header on my page and footer. I needed to google the correct position code for CSS */
header{
    background: black;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* This is a fixed position footer as to not hide the content under the footer */
footer{
    background: black;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    margin-top: 0;
    font-size: 50px;
    color: white
}
h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    font-size:30px;
}

p {
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
    font-size: 20px;
    margin-left: 60px;
    margin-right:60px;
}


/* this will align not only the text in the center but also aligns the bullets to the center as well */
ul{
    text-align: center;
    list-style-position: inside
}

ol{
    text-align: center;
    list-style-position: inside;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: purple;
}